<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="icon" type="image/png" href="../image/favicon-32x32.png" sizes="64x64" />
    <link rel="stylesheet" href="../Fonts/fonts.css">

    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet" />
    <link href="../Fonts/fontawesome-free-5.13.0-web/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../Libs/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../Libs/bootstrap/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../Libs/yulduzchaga/jquery.rateyo.min.css">
    <link rel="stylesheet" href="../css/style.min.css">
</head>

<body>
    <!-- To top -->
    <button class="btn-lg btn-top" id="to-top">
        &uarr;
    </button>
    <!-- To top end -->
    <!--  -->
    <header id="start">
        <!-- <div class="menu_top"> -->
        <div class="container">
            <nav class="nav fixed_top  wow fadeInUp" data-wow-duration="1s">
                <ul class="header_menu  wow fadeIn" data-wow-duration="5s">
                    <li class="col-lg-auto header_item" id="closed">
                        <i class="far fa-window-close"></i>
                    </li>
                    <li class="col-lg-auto  header_item">
                        <a href="../index.html">Men haqimda</a>
                    </li>
                    <li class="col-lg-auto  header_item">
                        <a href="./qobiliyat.html">Qobilatlarim</a>
                    </li>
                    <li class="col-lg-auto header_item">
                        <a  href="./web.html">Veb sahifalar</a>
                    </li>
                    <li class="col-lg-auto header_item">
                        <a class="js-sroll-top-id header_links active" href="#contact">Aloqa</a>
                    </li>
                    <li class="dropdown col-lg-auto">
                        <button class="btn dropdown-toggle active" type="button" id="dropdownLang"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            UZB
                        </button>
                        <div class="dropdown-menu bg-secondary" aria-labelledby="dropdownLang"
                            x-placement="bottom-start"
                            style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 5px, 0px);">
                            <a class="dropdown-item btn" href="#">RU</a>
                            <a class="dropdown-item btn" href="#">EN</a>
                        </div>
                    </li>
                </ul>
                <div class="burimg">
                    <img src="../image/xwebuilder.jpg" alt="logo">
                    <button class="burger">
                        <i class="fas fa-bars"></i>
                    </button>
                </div>

                <!-- <div class="animation">
                    Test rejimi
                </div> -->
            </nav>
        </div>
        <!-- </div> -->

    </header>
    <!--  -->
    <footer class="bg-dark text-white text-center contact" id="contact">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-lg-4 col-md-12 col-sm-12">
                    <h2>Aloqa</h2>
                    <p>Sizga veb sahifalar bo'yicha qandaydir yordam kerak bo'lsa menga murojat qilishingiz mumkin</p>
                    <p class="m-top"><span>Address:</span> <a href="#!">Toshkent shahar</a></p>
                    <p><span>Phone:</span> <a href="#!"> +998 97 771 25 37</a></p>
                    <p><span>Email:</span> <a href="#!">xwebuilder@inbox.ru</a></p>
                    <p class="rateyo-readonly-widg "></p>
                </div>
                <!--  -->
                <div class="col-lg-7 col-md-12 col-sm-12">
                    <form action="" class="formm ">
                        <div class="dd-flex d-flex">
                            <input type="text" placeholder="Your Name" required class="text">
                            <input type="email" placeholder="Your Email" required class="text">
                        </div>
    
                        <input type="text" placeholder="Your Title" required class="tile">
    
                        <textarea name="" id="" cols="30" rows="10" class="coment"
                            placeholder="Your Сomment"></textarea>
                        <p><input type="file" required class="file">
                            <input class="break" type="reset" value="o'chirish" title="ma'lumotlar to'liq o'chiriladi">
                        </p>
                        <button><a href="#!"> send message </a></button>
    
                    </form>
                </div>
            </div>
            <!--  -->
            <div class="row">
                <div class="icons">
                    <i class="fas fa-envelope-open-text align-center"><span> xwebuilder@inbox.ru </span></i>
                    <i class="fab fa-facebook-square"><span> facebook </span></i>
                    <i class="fab fa-instagram-square"><span> instagram </span></i>
                    <i class="fab fa-telegram"><span> telegram </span></i>
                </div>
            </div>
    
        </div>
    </footer>

     <!--===== script ======-->
    <!-- progress -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->
    <script src="../js/progress.js"></script>
    <!--  -->
    <!-- <script src="https://kit.fontawesome.com/3a29f24b50.js" crossorigin="anonymous"></script> -->
    <!-- <script defer src="Fonts/fontawesome-free-5.13.0-web/js/all.min.js"></script> -->
    <script src="../Libs/bootstrap.js/jequrey.min.js"></script>
    <script src="../Libs/bootstrap.js/popper.min.js"></script>
    <script src="../Libs/bootstrap.js/bootstrap.min.js"></script>
    <!-- <script src="./Libs/jquery-3.2.0.min.js"></script> -->
    <!-- <script src="./Libs/jquery-3.3.1.min.js"></script> -->


    <!-- <script src="./js/animat.js"></script> -->
    <!-- <script src="html/star/dist/jquary.js"></script> -->
    <!-- <script src="html/star/dist/starrr.js"></script> -->
    <!-- <script src="html/star/dist/star1.js"></script> -->
    <script src="../Libs/yulduzchaga/jquery.min.js"></script>
    <script src="../Libs/yulduzchaga/jquery.rateyo.js"></script>
    <script src="../Libs/yulduzchaga/yulduzcha.js"></script>

    <script src="../js/burger.js"></script>
    <script src="../js/navmenu.js"></script>
    <script src="../js/totop.js"></script>

</body>

</html>